<% if (messages.success) { %>
    <div id="flash_message" class="flash flash-success"><%= messages.success %></div>
<% } else if(messages.error) { %>
    <div id="flash_message"  class="flash flash-error"><%= messages.error %></div>
<% } %>
<div class="flash" style="border:0px;"></div>
<div class="form-header">
    <h2>Find Duplicates</h2>
</div>
<form method="post" action="/find_duplicates" novalidate>
    <div class="form-field <%= errors.find_duplicates ? 'form-field-invalid' : '' %> ">
        <label for="find_duplicates">Search Term : </label>
        <input type="text" class="input" id="find_duplicates" name="find_duplicates" value="<%= data.find_duplicates %>" <% if (messages.success) { %> <%= 'disabled' %> <% } %> autofocus></input>
        <% if (errors.find_duplicates) { %>
          <div class="error"><%= errors.find_duplicates.msg %></div>
        <% } %>
    </div>
    <div class="form-actions">
        <button class="btn btn-submit" type="submit" <% if (messages.success) { %> <%= 'disabled  style=cursor:crosshair;' %> <% } %> >Send</button>
        <% if (messages.success) { %> <a href="/find_duplicates">Search another term</a> <% } %>
    </div>
</form>

<div id="results" name="results">
  <%= data.results %>
</div>
<script>
socket.on('connected', function(data) {
  socket.emit('join', '(find_duplicates.ejs) was invoked');
});
socket.on('results',function(data){
  console.log(data);
  $('#results').addClass('flash flash-success').text(data);
  $('#flash_message').hide();
  $('.btn-submit').removeAttr('disabled').css('cursor','pointer');
  $('#find_duplicates').removeAttr('disabled')
});
</script>
