<% if (messages.success) { %>
  <div class="flash flash-success"><%= messages.success %></div>
<% } %>
<h1>Working With Forms in Node.js</h1>
<a href="/contact">Contact Form</a>
<a href="/find_duplicates">Find Duplicates</a>
<script>
  //socket is defined in layout.ejs
  socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client (index.ejs)');
  });
</script>
