<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Forms in Node.js</title>
  <link rel="stylesheet" href="/style.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js" /></script>
    <script>
      var socket = io.connect('localhost:3000');
    </script>
</head>
<body>
<%- body %>
</body>
</html>
